footer {
    padding: 24px 80px;
    background-color: var(--primary-black);
    color: var(--primary-white);
}

.footer-inner {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo path:nth-of-type(1) {
    fill: var(--primary-white);
}

.footer-logo path:nth-of-type(2) {
    fill: var(--primary-white);
}

@media screen and (max-width:1024px) {
    footer {
        padding: 20px 16px;
    }

    .footer-inner {
        padding: 0;
    }
}