.hero {
    padding: 60px 80px;
    position: relative;
}

.hero-inner {
    padding-left: 32px;
    padding-right: 32px;
    height: 596px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.heroText-sec {
    width: 600px;
    text-align: start;
}

.heroImg-sec {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.heroImg-sec img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    box-shadow:
        0px 8px 18px -6px rgba(24, 39, 75, 0.12),
        0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}

.Social-sec {
    position: absolute;
    top: 620px;
    right: 112px;
    display: flex;
    gap: 32px;
}

@media screen and (max-width:1024px) {
    .hero {
        padding: 40px 16px;
        position: static;
    }

    .hero-inner {
        padding: 0;
        position: static;
        flex-direction: column;
        min-width: 343px;
        height: auto;
        gap: 40px;
    }

    .heroText-sec {
        width: 100%;
    }

    .Social-sec {
        position: static;
        margin-top: 32px;
        justify-content: center;
    }

    .heroImg-sec {
        width: 100%;
        height: 380px;
    }

}