.readMoreBox {
    width: 20px;
    height: 20px;
}

.readMore path:nth-of-type(1) {
    stroke: var(--primary-white);
}

.readMore path:nth-of-type(2) {
    stroke: var(--primary-white);
}

.readMore path:nth-of-type(3) {
    stroke: var(--primary-white);
}

.readMore {
    display: block;
}

.readMore-hover {
    display: none;
}

.readMoreBox:hover {
    cursor: pointer;
}

.readMoreBox:hover .readMore-hover {
    display: block;
}

.readMoreBox:hover .readMore {
    display: none;
}